<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345557086680-26nvbave8sha6is2ltb6n7s8pepoerbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345557086680-26nvbave8sha6is2ltb6n7s8pepoerbe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>345557086680-3e7qiv3rfk2ggnmfed0ec2sr402os7vs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnKhvF7sVeQrMj_1TOg4OJVlbHr3aDIf8</string>
	<key>GCM_SENDER_ID</key>
	<string>345557086680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAcademyAr</string>
	<key>PROJECT_ID</key>
	<string>flutteracademyar</string>
	<key>STORAGE_BUCKET</key>
	<string>flutteracademyar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345557086680:ios:4b62ec874d25e87c9402ad</string>
</dict>
</plist>